<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>result</title>
</head>
<body>
    <h2><span data-th-text="${line1}"></span></h2>
    <h2><span data-th-text="${line2}"></span></h2>
    <h2><span data-th-text="${line3}"></span></h2>
    <h2><span data-th-text="${line4}"></span></h2>
    <h2><span data-th-text="${line5}"></span></h2>
</body>
</html>